body{
    margin: 0;
    padding: 0;
}

#headerBox {
    background: #152237;
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #ffffff00;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;

  border: 1px solid rgba(255,255,255,0.3);
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 477px;
  padding: 0.6rem;
  font-size: 1rem;
}

.search-bar input::placeholder {
  color: #cfd6e1;
}

.search-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}


.headerBtn {
    gap: 20px;
}

.headerBtnCon {
    border-radius: 10px;
    color: black;
    background: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
}

.headerBtnIns {
    border-radius: 10px;
    color: black;
    background: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
}